#main{
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: whitesmoke;

    margin-top: 100px;
}

body{
    
    background-color: #212122;
}

#form{
    border-radius: 5px;
    border: solid white;
    padding: 20px;
}

#data{
    margin-top: 50px;
}

#submit{
    margin-top: 50px;
    margin-left: 130px;
}

#arr1{
    margin-top: 20px;
}

#left{
    margin-top: 20px;
}
